
body {
  font-family: 'Arial', sans-serif;
}

#hero {
  background-image: linear-gradient(to bottom, #00b7ff, #009dff); 
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.lead {
  font-size: 1.5rem;
  font-weight: 500;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 300px;
} 

.btn-light {
  background-image: linear-gradient(to bottom, #fff, #e6e6e6);
}
  
.card {
  border: none;
  box-shadow: 0 10px 40px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer {
  background-image: linear-gradient(to bottom, #0d0d0d, #1f1d1d);
}

@media (min-width: 768px) {
  h2 {
    font-size: 4rem; 
  }
  
  .lead {
    font-size: 2rem;
  }
}