<div class="col-4" id="checklist-wrapper">
    <h2>Habit Checklist</h2>
    <div class="row">
        <ul id="habits-list"></ul>
    </div>
</div>

<div class="col-4" id="friends-wrapper">
    <h3>Friends</h3>
    <ul id="friends-list"></ul>

    <h3>Pending Requests</h3>
    <ul id="friend-request-list"></ul>

    <input type="text" placeholder="Username...">
    <button type="submit" id="add-friend-btn">Add Friend</button>
</div>

<div class="col-4" id="chat-wrapper">
    <div class="row" id="chat-window">
        <ul id="chat-log"></ul>

        <input type="text" placeholder="Message GPT..." id="gpt-prompt-input">
        <button type="submit" id="prompt-gpt-btn">Send</button>
    </div>
</div>